*{
    margin: 0px;
}


    .imagen-intro{
        background-color: none;
    }

    .titulo{                                   
        background-color: none;

    }

    .imagen-article{
        width: 80px;
        height: 80px;
    }
