*{
    margin: 0px;
}


    .imagen-intro{
        background-color: brown;
        border-radius: 20px;
    
    }

    .titulo{                                   
        background-color: lightgray;
        text-align: center;
        padding: 30px;
        border-radius: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }


    .d-block {
        height: 400px;
        width: 200px;
    }

